*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    height: 100vh;
    width: 100vw;
}
.foot{
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: 0 auto;
    padding: 5rem 0;
    /* background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);; */
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    max-width: 50%;
    line-height: 2rem;
    font-weight: 200;
    font-size: medium;
    padding-left: 3rem;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 15vh;
    gap: 3rem;
    padding-left: 5rem;
}
.btn-1{
    background-color: #FFB38E;
    padding: 1.5rem 2.5rem;
    border-radius: 50px;
    color: #F2EED7;
}
.btn-2{
    background-color: #493628;
    padding: 1rem 2.5rem;
    color: white;
    border-radius: 5px;
    overflow: none;
}
.seperator{
    width: 100%;
    height: 1px;
    background-color: #AB886D;
    margin: 2rem 0;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
ul{
    margin-top: 2rem;
}
ul li{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50%;
    margin-bottom: 1rem;
}
